{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "es5",
  "printWidth": 400,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
