blockquote {
    font-size: inherit;
    border-left: 2px solid hsl(320, 100%, 70%);
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

h2 {
    font-weight: normal;
    margin: 10px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffcc22;
}

a {
    color: hsl(200, 60%, 50%);
    outline-style: none;
    text-decoration: none;
    transition: color 80ms linear;
}

a:link,
a:visited,
a:hover,
a:active {
    outline-style: none;
}

a:hover {
    text-decoration: underline;
    color: hsl(200, 60%, 70%);
}

code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background: none;
    border-radius: 0;
}

@font-face {
    font-family: "FontAwesomeExtra";
    src: url("~@fonts/extra/extra.eot");
    src: url("~@fonts/extra/extra.eot#iefix") format("embedded-opentype"), url("~@fonts/extra/extra.woff2") format("woff2"), url("~@fonts/extra/extra.woff") format("woff"), url("~@fonts/extra/extra.ttf") format("truetype"), url("~@fonts/extra/extra.svg#extra") format("svg");
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}

.large {
    font-size: 120%;
}

.form-control {
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.form-control[type="text"],
.form-control[type="password"] {
    appearance: none;
    -webkit-appearance: none;
}

.form-control:focus {
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

select.form-control {
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
    font-weight: 700;
}

select.form-control:focus {
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

iframe {
    border: none;
}

label {
    font-size: 12px;
    font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 2px 0 0;
}

a[disabled] {
    color: #999999;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.clickable-row {
    cursor: pointer;
}

[data-visibility] {
    will-change: opacity;
    transition: opacity 120ms;
}

[data-visibility][data-visibility="hidden"] {
    opacity: 0;
    pointer-events: none;
}

[data-visibility][data-visibility-animation="none"] {
    will-change: unset;
    transition: none;
}

.bbcode {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: anywhere;
}

.bbcode code {
    background-color: hsl(240, 7%, 15%);
    border-radius: 4px;
    padding: 1px 4px;
}

.bbcode h2,
.bbcode h4 {
    font-style: normal;
    font-weight: bold;
}

.bbcode h2 {
    font-size: 1.5em;
    color: #ffffff;
}

.bbcode blockquote {
    font-size: inherit;
    padding: 0 0 0 20px;
    border: none;
    color: #ff66aa;
    position: relative;
}

.bbcode blockquote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    border-radius: 10000px;
    background-color: #ff66aa;
}

.bbcode blockquote h4 {
    font-size: inherit;
    color: #ffcc22;
    margin: 0;
    margin-bottom: 10px;
}

.bbcode blockquote blockquote {
    font-size: 0.9em;
}

.bbcode blockquote blockquote::before {
    display: none;
}

.bbcode blockquote blockquote h4 {
    color: inherit;
}

.bbcode blockquote blockquote blockquote blockquote blockquote {
    padding-left: 0;
    font-size: 1em;
}

.bbcode img {
    max-width: 100%;
}

.bbcode ol,
.bbcode ul {
    padding-left: 20px;
}

.bbcode pre {
    border-radius: 4px;
    white-space: pre-wrap;
    background-color: #333344;
    color: inherit;
    padding: 10px;
    border: none;
    font-size: inherit;
}

.bbcode .unordered {
    list-style-type: disc;
}

.bbcode .spoiler {
    background-color: #000 !important;
    color: #000 !important;
}

.bbcode .well {
    margin: 0;
    background: #333344;
    border: 2px solid #222233;
}

.bbcode--normal-line-height {
    line-height: inherit;
}

.bbcode__list-title {
    list-style: none;
    margin: 0;
}
